:root{
  --size:calc(1.3vh + 1vw);
  --color1:rgb(0, 60, 128);
  --color2:rgb(0, 114, 34);
  --color3:rgb(218, 63, 25);
  --color4:rgb(190, 13, 196);
  --color5:rgb(127, 52, 247);
  --color6:rgb(143, 1, 1);
  --color7:rgb(174, 209, 15);
  --color8:rgb(214, 58, 162);
}

body{
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #fadede;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  
}

.scene{
    margin: auto;
    width:calc(var(--size) * 25);
    height:calc(var(--size) * 25);
    background-color: #000000;
    padding: 5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-shadow: gray -2px -2px 5px ,lightgrey 2px 2px 5px;
    font-size:calc(var(--size) * 2);
    margin-top: 20px;
  }
  .patratel{
    width: 10%;
    height: 10%;
    background-color:rgb(49, 115, 238);
    box-shadow: #000a -0.1em -0.1em  inset,#fff 0.1em 0.1em  inset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family:monospace;
    cursor: pointer;
    transition:background-color 0.3s;
  }

 .patratel img{
  width: 80%;
  color: rgba(84, 129, 212, 0.527);
 } 

#over, #win{
  font-size:calc(var(--size) * 1.8) ;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content:center;
  display: flex;
  flex-direction: column;
  text-shadow: 0.1em 0.1em #ff00c8; 
  color:#00ffea;
  padding: 0.2em;
  display: none;
  text-align: center;
  animation: Show 0.7s;
  margin-top: -3em;
}


#over button,#win button{
  width: 6em;
  transition: 0.1s;
  animation: ButtonAnime 2s infinite;
}
#over button:hover{
  animation:none ;
}

#win button:hover{
  animation:none ;
}

.levele{
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content:space-between;
  margin-top: 0.5em;
  font-family:monospace;
  font-weight: bold;
  font-size: 1.7em;
}

#NrBombe ,#Timp{
   text-shadow: 1px 1px #ff00c8; 
   color:#00ffea;
   background-color: black;
   padding: 0.2em;
   box-shadow:#000a -0.1em -0.1em  inset,#fff 0.1em 0.1em  inset,
   rgb(99, 93, 93) 0.2em 0.2em 0.2em;
   border: solid 2px #00ffea;
   text-align: center;
   padding-left: 0.5em;
   padding-right: 0.5em;
   margin-left: 0.3em;
}

 button{
  font-family:monospace;
  font-weight: bold;
  font-size: 0.9em;
  transition: 0.5s;
  background-color: #0b010f;
  color:#00ffea;
  border: solid 2px #00ffea;
  box-shadow:#000a -0.1em -0.1em  inset,#fff 0.1em 0.1em  inset,
  rgb(99, 93, 93) 0.2em 0.2em 0.2em;
   cursor: pointer;
   text-shadow: 1px 1px #ff00c8; 
}

 button:hover{
  background-color: rgb(68, 0, 255);
  font-size: 1em;
  color:#9dff00;
  border: solid 2px #9dff00;
  text-shadow: 2px 2px #050005;
 

}

.dev{
  font-size:calc(var(--size) * 0.3);
  position: absolute;
  font-family:monospace;
  font-weight: bold;
  color:#00ffea;
  border: solid 2px #00ffea;
  box-shadow:#000a -0.1em -0.1em  inset,#fff 0.1em 0.1em  inset,
  rgb(99, 93, 93) 0.2em 0.2em 0.2em;
   text-shadow: 1px 1px #ff00c8; 
   background-color: #0b010f;
   top:30%;
   left:6%;
   width: 25em;
   text-align: center;
   animation: Dev 20s infinite ease-in-out;
}
.afisare{
  display: flex;
  
}


@keyframes Show{
  from {font-size: 0;}
  to {font-style:calc(var(--size) * 1.8);}

}


@keyframes ButtonAnime{
  0%   {background-color: #0b010f;
        color:#00ffea;
        border: solid 2px #00ffea;
        font-size: 0.9em;}
  80%  {background-color: #0b010f;
        color:#00ffea;
        border: solid 2px #00ffea;
        font-size: 0.9em;}
  90%  { background-color: rgb(68, 0, 255);
         font-size: 1em;
         color:#9dff00;
         border: solid 2px #9dff00;
         text-shadow: 2px 2px #050005;}
  100%  {background-color: #0b010f;
        color:#00ffea;
        border: solid 2px #00ffea;
        font-size: 0.9em;}
}


@keyframes Dev{
  0%   {top:10%;left: 3%;}
  5%   {top:40%;left: 3%;}
  8%   {background-color: #0b010f;
        color:#00ffea;
        border: solid 2px #00ffea;
        font-size:calc(var(--size) * 0.3);
        left:3%;}
  9%   {background-color: rgb(255, 38, 0);
    font-size:calc(var(--size) * 0.35);;
         color:#9dff00;
         border: solid 2px #9dff00;
         text-shadow: 2px 2px #050005;
        left:2%;}  
  10%   {background-color: #0b010f;
         color:#00ffea;
         border: solid 2px #00ffea;
         font-size:calc(var(--size) * 0.3); 
         left:3%}
  15%{background-color: #0b010f;
    color:#00ffea;
    border: solid 2px #00ffea;
    font-size:calc(var(--size) * 0.3); 
    left:3% }
    16%   {background-color: rgb(255, 38, 0);
      font-size:calc(var(--size) * 0.35);;
           color:#9dff00;
           border: solid 2px #9dff00;
           text-shadow: 2px 2px #050005;
          left:2%;}  
    17%   {background-color: #0b010f;
           color:#00ffea;
           border: solid 2px #00ffea;
           font-size:calc(var(--size) * 0.3); 
           left:3%}
    23%   {background-color: #0b010f;
    color:#00ffea;
    border: solid 2px #00ffea;
    font-size:calc(var(--size) * 0.3); 
    left:3%}
    24%   {background-color: rgb(255, 38, 0);
      font-size:calc(var(--size) * 0.35);;
           color:#9dff00;
           border: solid 2px #9dff00;
           text-shadow: 2px 2px #050005;
          left:2%;}  
    25%   {background-color: #0b010f;
           color:#00ffea;
           border: solid 2px #00ffea;
           font-size:calc(var(--size) * 0.3); 
           left:3%}
    30%{background-color: #0b010f;
      color:#00ffea;
      border: solid 2px #00ffea;
      font-size:calc(var(--size) * 0.3); 
      left:3% }
      31%   {background-color: rgb(255, 38, 0);
        font-size:calc(var(--size) * 0.35);;
             color:#9dff00;
             border: solid 2px #9dff00;
             text-shadow: 2px 2px #050005;
            left:2%;}  
      32%   {background-color: #0b010f;
             color:#00ffea;
             border: solid 2px #00ffea;
             font-size:calc(var(--size) * 0.3); 
             left:3%}
  35%  {top:40%;left: 3%;}
  40%  {top:90%;left: 3%;}
  50%  {top:90%;left: 80%;}
  55%  {top:40%;left: 80%;}
  58%  {background-color: #0b010f;
        color:#00ffea;
        border: solid 2px #00ffea;
        font-size:calc(var(--size) * 0.3);
        left:80%;}
   59%{
       background-color: rgb(255, 38, 0);
       font-size:calc(var(--size) * 0.35);;
         color:#9dff00;
         border: solid 2px #9dff00;
         text-shadow: 2px 2px #050005;
        left:79%;
   }     
   60%{
    background-color: #0b010f;
         color:#00ffea;
         border: solid 2px #00ffea;
         font-size:calc(var(--size) * 0.3); 
         left:80%
   }
  65%{ background-color: #0b010f;
    color:#00ffea;
    border: solid 2px #00ffea;
    font-size:calc(var(--size) * 0.3); 
    left:80%}
    66%{
      background-color: rgb(255, 38, 0);
      font-size:calc(var(--size) * 0.35);;
        color:#9dff00;
        border: solid 2px #9dff00;
        text-shadow: 2px 2px #050005;
       left:79%;
  }     
  67%{
   background-color: #0b010f;
        color:#00ffea;
        border: solid 2px #00ffea;
        font-size:calc(var(--size) * 0.3); 
        left:80%
  }
 73%{ background-color: #0b010f;
   color:#00ffea;
   border: solid 2px #00ffea;
   font-size:calc(var(--size) * 0.3); 
   left:80%} 
   74%{
    background-color: rgb(255, 38, 0);
    font-size:calc(var(--size) * 0.35);;
      color:#9dff00;
      border: solid 2px #9dff00;
      text-shadow: 2px 2px #050005;
     left:79%;
}     
75%{
 background-color: #0b010f;
      color:#00ffea;
      border: solid 2px #00ffea;
      font-size:calc(var(--size) * 0.3); 
      left:80%
}
80%{ background-color: #0b010f;
 color:#00ffea;
 border: solid 2px #00ffea;
 font-size:calc(var(--size) * 0.3); 
 left:80%}
 81%{
  background-color: rgb(255, 38, 0);
  font-size:calc(var(--size) * 0.35);;
    color:#9dff00;
    border: solid 2px #9dff00;
    text-shadow: 2px 2px #050005;
   left:79%;
}     
82%{
background-color: #0b010f;
    color:#00ffea;
    border: solid 2px #00ffea;
    font-size:calc(var(--size) * 0.3); 
    left:80%
}
  85%  {top:40%;left: 80%;}
  90%  {top:10%;left: 80%;}
  100%  {top:10%;left: 3%;}
}



